// Общие стили проекта

.main {
  background-color: #f9fafc;
  flex: 1;
  position: relative;
  transition: all 0.4s ease;
}

.section {
  margin-top: 50px;
}

.title {
  color: #0c74d5;
  font-family: $opensans_bold;
  font-size: 2rem;
}

.subtitle {
  font-family: $opensans_semibold;
  font-size: 1.5rem;
  margin-top: 15px;
}

.text {
  margin-top: 10px;
}
