/**main custom setups*/

html {
  font-size: 14px;
  height: 100%;
  @include media-breakpoint-up(md) {
    font-size: 14px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 14px;
  }

  &.html-hidden {
    overflow: hidden !important;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: $font_basic;
  font-size: 1rem;
  margin: 0;
  min-height: 100vh;
  position: relative;

  &.body-hidden {
    overflow: hidden !important;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  padding-top: 100px;
  position: relative;
  @include media-breakpoint-up(xl) {
    padding-top: 120px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

a,
a:hover {
  text-decoration: none;
  transition: 0.3s;
}

a,
a:hover,
a:focus,
a:active {
  outline: none;
}

// Панель Bitrix
#bx-panel.bx-panel-fixed {
  z-index: 999999 !important;
  position: inherit !important;
}
