/**main custom setups*/

html {
  height: 100%;

  &.html-hidden {
    overflow: hidden !important;
  }

  font-size: 14px;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: $opensans_regular;
  display: flex;
  flex-direction: column;
  font-size: $font-family-base;
  position: relative;

  &.body-hidden {
    overflow: hidden !important;
  }
}

.main {
  flex: 1;
  padding-top: 70px;
  position: relative;
  transition: all 0.4s ease;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-both {
  padding-right: 0;
  padding-left: 0;
}