$opensans_light: 'open_sans_light', Arial, sans-serif;
$opensans_regular: 'open_sans_regular', Arial, sans-serif;
$opensans_bold: 'open_sans_bold', Arial, sans-serif;
$opensans_semibold: 'open_sans_semibold', Arial, sans-serif;
