// FONTS
$font_title: 'yeseva_oneregular', Arial, sans-serif; /**YesevaOne*/
$font_subtitle: 'yeseva_oneregular', Arial, sans-serif; /**YesevaOne*/
$font_link: 'yeseva_oneregular', Arial, sans-serif; /**YesevaOne*/

/**Montserrat*/
$font_basic: 'montserrat_regular', Arial, sans-serif;
$font_basic_light: 'montserrat_light', Arial, sans-serif;
$font_basic_medium: 'montserrat_medium', Arial, sans-serif;
$font_basic_bold: 'montserrat_bold', Arial, sans-serif;
$font_basic_semibold: 'montserrat_semibold', Arial, sans-serif;

//Open Sans
$font_open_sans_bold: 'open_sans_bold', Arial, sans-serif;

// COLORS
$color_white: #fff;
$color_black: #000;
$color_brown: #843e01;
$color_main: #ff1f35;
$color_main_light: #ffe8ea;

// Colors for backgrounds
$color_bg_light: #f9fafc; // header bg, table bg

// Colors for text
$color_text_basic: #000;
$color_text_white: #fff;
$color_text_notActive: #c6c6c6;
$color_breadcrumbs: #bbc3cd;

// Colors for borders
$color_border: #bbc3cd; // placeholder
$color_lg_border: #e2e6eb;

// Colors for placeholders
$color_placeholder_dark: #6c7684;
$color_placeholder_normal: #bbc3cd;

// Colors for button in filter
$color_btn_disabled: #eff2f6;
$color_btnText_disabled: #a4adb9;
$color_btn_normal: #e2e6eb;
$color_btn_hover: #bbc3cd;

// Colors for selects
$color_select_normal: #fff;
$color_select_hover: #e2e6eb;

// Bootstrap grid
$grid-breakpoints: (
  xs: 0,
  sm: 540px,
  md: 768px,
  lg: 960px,
  xl: 1200px
);

// Bootstrap breakpoints
$container-max-widths: (
  sm: 540px + 30px,
  md: 768px + 30px,
  lg: 960px + 30px,
  xl: 1200px + 30px
);

// Lightgallery z-index
$zindex-outer: 10500;
$zindex-controls: 10800;
$zindex-pager: 10800;
$zindex-item: 10600;
$zindex-backdrop: 10400;
