/**FontAwesome*/

@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/brands';

/**YesevaOne*/

@font-face {
  font-family: 'yeseva_oneregular';
  src: url('../fonts/yesevaone-regular-webfont.eot');
  src: url('../fonts/yesevaone-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/yesevaone-regular-webfont.woff2') format('woff2'), url('../fonts/yesevaone-regular-webfont.woff') format('woff'), url('../fonts/yesevaone-regular-webfont.ttf') format('truetype'), url('../fonts/yesevaone-regular-webfont.svg#yeseva_oneregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**Montserrat*/

@font-face {
  font-family: 'montserrat_regular';
  src: url('../fonts/montserrat-regular-webfont.eot');
  src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-regular-webfont.woff2') format('woff2'), url('../fonts/montserrat-regular-webfont.woff') format('woff'), url('../fonts/montserrat-regular-webfont.ttf') format('truetype'), url('../fonts/montserrat-regular-webfont.svg#montserrat_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat_light';
  src: url('../fonts/montserrat-light-webfont.eot');
  src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat-light-webfont.woff') format('woff'),
  url('../fonts/montserrat-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat_medium';
  src: url('../fonts/montserrat-medium-webfont.eot');
  src: url('../fonts/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-medium-webfont.woff2') format('woff2'), url('../fonts/montserrat-medium-webfont.woff') format('woff'), url('../fonts/montserrat-medium-webfont.ttf') format('truetype'), url('../fonts/montserrat-medium-webfont.svg#montserrat_medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat_bold';
  src: url('../fonts/montserrat-bold-webfont.eot');
  src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-bold-webfont.woff2') format('woff2'), url('../fonts/montserrat-bold-webfont.woff') format('woff'), url('../fonts/montserrat-bold-webfont.ttf') format('truetype'), url('../fonts/montserrat-bold-webfont.svg#montserrat_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat_semibold';
  src: url('../fonts/montserrat-semibold-webfont.eot');
  src: url('../fonts/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'), url('../fonts/montserrat-semibold-webfont.woff') format('woff'), url('../fonts/montserrat-semibold-webfont.ttf') format('truetype'), url('../fonts/montserrat-semibold-webfont.svg#montserrat_semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**OpenSans*/

@font-face {
  font-family: 'open_sans_semibold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/opensans-semibold-webfont.eot');
  src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff'), url('../fonts/opensans-semibold-webfont.ttf') format('truetype'), url('../fonts/opensans-semibold-webfont.svg#open_sansbold') format('svg');
}

@font-face {
  font-family: 'open_sans_bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/opensans-bold-webfont.eot');
  src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff'), url('../fonts/opensans-bold-webfont.ttf') format('truetype'), url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
}

@font-face {
  font-family: 'open_sans_regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
}

@font-face {
  font-family: 'open_sans_light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/opensans-light-webfont.eot');
  src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff'), url('../fonts/opensans-light-webfont.ttf') format('truetype'), url('../fonts/opensans-light-webfont.svg#open_sansbold') format('svg');
}
