
/node_modules/
/bower_components/
/vendor/

/upload

/local/build
/local/php_interface/custom_mail.php

*.log

hosts.yml

.env

.idea

/sites/s1/bitrix
/sites/s1/local
/sites/s1/upload
/sites/s1/test
