.about {
  margin-top: 40px;
  margin-bottom: 50px;

  @include media-breakpoint-down(sm) {
    margin-top: 19px;
    margin-bottom: 35px;
  }

  @include media-breakpoint-down(md) {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  h1 {
    text-align: center;
  }

  &__text {
    text-align: center;
  }

  &__title {
    text-align: center;
  }
}
