.accordion {
  border-top: 1px solid $color_lg_border;

  &:last-child {
    border-bottom: 1px solid $color_lg_border;
  }

  &_opened &__expandIcon::before {
    transform: rotate(0);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 22px;
    cursor: pointer;
  }

  &__title {
    color: $color_text_basic;
    font-size: 16px;
    font-family: $font_basic_light;
    line-height: 19px;
  }

  &__expandIcon {
    position: relative;
    width: 10px;
    height: 10px;

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 10px;
      height: 1px;
      background: $color_text_basic;
    }

    &::before {
      transform: rotate(90deg);
      transition: transform 0.25s;
    }
  }

  &__content {
    padding: 0 22px 28px;
    color: $color_text_basic;
    font-size: 14px;
    font-family: $font_basic;
    line-height: 20px;
  }
}

.accordionAnimation {
  &-enter-active,
  &-leave-active {
    transition: all 0.3s ease-in-out;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}
