.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 31px 0 26px;
  @include media-breakpoint-down(md) {
    margin: 21px 0 25px;
  }
  @include media-breakpoint-down(sm) {
    margin: 20px 0;
  }

  &__item {
    font-family: $font_basic;
    font-size: 12px;
    line-height: 20px;
    vertical-align: middle;

    a {
      color: $color_text_notActive;
    }

    &:after {
      background: url('/local/assets/images/icons/right_arrow.svg') center no-repeat;
      background-size: cover;
      content: '';
      display: inline-block;
      height: 7px;
      margin: 0 3px;
      width: 4px;
    }
  }

  &__item_active {
    font-family: 'montserrat_regular', Arial, sans-serif;
    font-size: 12px;
    color: $color_text_basic;

    a {
      color: $color_text_basic;
    }

    &:after {
      display: none;
    }
  }
}
