.contacts {
  position: relative;
  min-height: 100%;
  padding-bottom: 75px;
  overflow: hidden;

  &__col {
    &_second {
      @include media-breakpoint-down(sm) {
        margin-top: 23px;
      }
    }
  }
  &__desc {
    margin-top: 30px;
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 23px;
  }

  &__bg-logo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 533px * 0.85;
    height: 493px * 0.85;
    color: #FFE8EA;
  }

  &__text {
    line-height: 24px;
  }

  &__icon {
    font-weight: bold;

    &_red {
      color: $color_brown;
      font-weight: bold;
    }

    &_brown {
      color: $color_main;
      font-weight: bold;
    }
  }
}
