.footer {
  z-index: 2;
  font-size: 12px;
  font-family: $font_basic;

  &__inner {
    background-color: $color_main;
    color: $white;
  }

  &__text {
    margin-bottom: 10px;
    margin-top: 13px;
    line-height: 19px;
  }

  &__top {
    padding: 30px 0;
    @include media-breakpoint-down(sm) {
      padding-bottom: 0;
    }
  }

  &__phone {
    font-size: 14px;
    padding-bottom: 10px;
    @include media-breakpoint-down(sm) {
      font-size: 12px;
      padding-top: 6px;
    }
  }

  &__call {
    font-size: 13px;
    margin-bottom: 52px;
    @include media-breakpoint-down(sm) {
      font-size: 11px;
      margin-bottom: 14px;
    }
  }

  &__link {
    font-size: 11px;
    line-height: 19px;
    color: $color_white;

    &_transform {
      text-transform: uppercase;
      font-size: 12px;
    }

    &_prod {
      text-decoration: underline;
      text-transform: uppercase;
      font-size: 11px;
      line-height: 27px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 11px;
  }

  &__item {
    margin-top: 7px;

    &:first-child {
      margin-top: 0;
      margin-bottom: 6px;
    }
  }

  &__logo {
    text-align: center;
    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
      margin-top: -16px;
      text-align: left;
    }

    &_link {
      height: 100%;
      color: $color_white;
    }

    svg {
      width: 170px;
      height: 28px;
    }
  }

  &__link {
    color: $white;

    &:hover {
      color: $yellow;
    }
  }

  &__callLink {
    font-size: 14px;
    text-transform: uppercase;
    color: $color_white;
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    padding: 13px 0;
    border-top: 1px solid $color_lg_border;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
    }

    &_left {
      margin-left: 8%;
      @include media-breakpoint-down(sm) {
        margin: 0;
        margin-bottom: 7px;
      }
    }

    &_right {
      margin-right: 11%;
      @include media-breakpoint-down(sm) {
        margin: 0;
      }
    }

    a {
      color: $color_white;
    }
  }
}






