.header {
  background-color: $color_main;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  left: 0;
  min-height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  @include media-breakpoint-up(md) {
    height: auto;
    min-height: 100px;
  }
  @include media-breakpoint-up(xl) {
    min-height: 120px;
  }

  &__top {
    height: 40px;
    background-color: $color_main;
    color: $color_text_white;
  }

  &__bottom {
    height: 60px;
    background-color: $color_bg_light;
    @include media-breakpoint-up(xl) {
      height: 80px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: inherit;

    .header__top & {
      justify-content: center;
      @include media-breakpoint-up(md) {
        justify-content: flex-end;
      }
    }

    .header__bottom & {
      justify-content: space-between;
    }
  }

  &__callLink {
    height: 100%;
    display: flex;
    align-items: center;
    color: $color_text_white;

    &:hover {
      color: $color_text_basic;
    }
  }

  .logo {
    &__link {
      display: block;
      height: 100%;
    }

    svg {
      width: 172px;
      height: 60px;
      @include media-breakpoint-up(md) {
        width: 200px;
      }
      @include media-breakpoint-up(lg) {
        width: 230px;
      }
      @include media-breakpoint-up(xl) {
        width: 270px;
        height: 80px;
      }
    }
  }

  &_phone {
    @include media-breakpoint-up(md) {
      font-size: 12px;
    }
  }

  &__call {
    margin-left: 17px;
    font-size: 12px;
  }

  &__search {
    height: 100%;

    .search__link {
      display: flex;
      align-items: center;
      height: 100%;
      font-family: $font_basic_semibold;
      font-size: 12px;
      text-transform: uppercase;
      color: $color_text_basic;

      .close-icon {
        display: none;
      }

      &.active {
        @include media-breakpoint-down(md) {
          .search-icon {
            display: none;
          }

          .close-icon {
            display: block;
          }
        }
      }

      @include media-breakpoint-up(md) {
        padding: 0 25px;
      }
      @include media-breakpoint-up(xl) {
        margin-right: -15px;
        padding: 0 30px;
        border-left: 1px solid $color_border;
        border-right: 1px solid $color_border;
      }

      &:hover {
        @include media-breakpoint-up(md) {
          color: $color_text_basic;
          background-color: $color_btn_hover;
        }
      }

      &:active {
        background-color: inherit;
      }

      span {
        display: none;
        @include media-breakpoint-up(md) {
          display: block;
        }
      }

      svg {
        width: 17.5px;
        height: 17px;
        @include media-breakpoint-up(md) {
          width: 15.5px;
          height: 15px;
          margin-left: 9px;
        }
      }
    }
  }

  &__right {
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .hamburger {
    display: block;
    margin-left: 30px;
    color: $color_black;
    @include media-breakpoint-up(md) {
      display: none;
    }

    &:hover {
      color: $color_black;
    }

    &.hide {
      display: none;
    }

    svg {
      width: 25px;
      height: 16px;
    }
  }

  .menu__closeBtn {
    display: none;
    margin-left: 37px;
    color: $color_black;

    &:hover {
      color: $color_black;
    }

    &.active {
      display: block;
    }

    svg {
      width: 17.7px;
      height: 17.7px;
    }
  }
}
