.infoPanel {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10001;
  width: 100%;
  min-height: 40px;
  color: $color_main;
  background: $color_main_light;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
    padding: 10px 15px;
    @include media-breakpoint-up(md) {
      padding-right: 25px;
      padding-left: 50px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 1140px;
      padding: 0 15px;
    }
  }

  &__close {
    background: none;
    border: 0;
    outline: 0;
    color: $color_main;
    cursor: pointer;

    svg {
      width: 13px;
      height: 13px;
    }
  }

  &__message {
    font-size: 12px;
    font-family: $font_open_sans_bold;
    text-transform: uppercase;
  }
}

.slideTop-enter-active,
.slideTop-leave-active {
  transform: translateY(0);
  transition: transform 0.25s;
}

.slideTop-enter,
.slideTop-leave-to {
  transform: translateY(-100%);
}
