.lot {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;

  @include media-breakpoint-up(md) {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }

  &__slider {
    grid-row: 3;
    grid-column: 1;

    @include media-breakpoint-up(md) {
      grid-row: 1 / 7;
      grid-column: 2;
      margin-left: 30px;
    }
  }

  &__tag-list {
    display: flex;
    grid-row: 1;
    grid-column: 1;
    align-items: center;
    height: 30px;
    list-style: none;
  }

  &__tag {
    display: flex;
    align-items: center;
    height: 100%;
    color: $color_text_basic;
    font-size: 12px;
    font-family: $font_basic_bold;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
      font-size: 10px;
      letter-spacing: 1px;
    }

    &::after {
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      margin: 0 13px;
      background: #707070;
    }

    &:last-child::after {
      display: none;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    grid-row: 2;
    grid-column: 1;
    margin-top: 20px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      margin-top: 18px;
    }

    @include media-breakpoint-up(xl) {
      align-items: center;
    }
  }

  &__area {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 40px;
    margin-right: 14px;
    margin-bottom: 20px;
    color: $color_white;
    font-size: 18px;
    font-family: $font_title;
    background: $color_main;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
      width: 130px;
      height: 72px;
      margin-right: 28px;
      font-size: 24px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 18px;
    font-family: $font_title;
    line-height: 20px;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__table {
    grid-row: 4;
    grid-column: 1;
    margin-top: 40px;

    @include media-breakpoint-up(md) {
      grid-row: 3;
      margin-top: 20px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 30px;
    }
  }

  &__table-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 9px 18px;

    @include media-breakpoint-up(xl) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 30px 22px;
    }

    &:nth-child(odd) {
      background: $color_bg_light;
    }
  }

  &__table-col {
    color: $color_text_basic;
    font-size: 14px;
    font-family: $font_basic_light;
    line-height: 19px;

    @include media-breakpoint-up(md) {
      font-size: 16px;
    }

    &:last-child {
      margin-top: 10px;
      font-size: 16px;
      font-family: $font_subtitle;
      line-height: 23px;

      @include media-breakpoint-up(md) {
        font-size: 18px;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 0;
        margin-left: 20px;
        text-align: right;
      }
    }
  }

  &__accordion-group {
    grid-row: 5;
    grid-column: 1;
    margin-top: 20px;

    @include media-breakpoint-up(md) {
      grid-row: 4;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 64px;
    }
  }

  &__btn-group {
    grid-row: 6;
    grid-column: 1;
    margin-top: 36px;

    @include media-breakpoint-up(md) {
      grid-row: 5;
    }
  }

  &__print-btn,
  &__download-btn {
    color: $color_text_notActive;
    font-size: 10px;
    font-family: $font_basic_bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.25s;

    &:hover {
      color: $color_text_basic;
    }
  }

  &__print-btn {
    margin-right: 30px;
  }

  &__phone {
    margin-top: 36px;
    color: $color_text_basic;
    font-size: 18px;
    font-family: $font_subtitle;
    line-height: 28px;
    text-align: center;

    &_desktop {
      display: none;
      text-align: right;

      @include media-breakpoint-up(md) {
        display: block;
      }
    }

    &_mobile {
      display: block;
      grid-row: 7;
      grid-column: 1;

      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }

  &__phone-link {
    transition: color 0.25s;

    &:hover {
      color: $color_main;
    }
  }
}
