.lotSlider {
  display: flex;
  flex-direction: column;
  max-width: 290px;
  margin: 0 auto;

  @include media-breakpoint-up(sm) {
    max-width: 480px;
  }

  @include media-breakpoint-up(md) {
    max-width: 320px;
    margin-right: 0;
  }

  @include media-breakpoint-up(lg) {
    max-width: 480px;
    margin: 0;
  }

  @include media-breakpoint-up(xl) {
    max-width: 570px;
  }

  &__slider {
    margin-bottom: 12px;
  }

  &__item {
    cursor: pointer;
  }

  &__image {
    width: 100%;
    height: 290px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include media-breakpoint-up(sm) {
      height: 480px;
    }

    @include media-breakpoint-up(md) {
      height: 320px;
    }

    @include media-breakpoint-up(lg) {
      height: 480px;
    }

    @include media-breakpoint-up(xl) {
      height: 570px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0 auto;

    @include media-breakpoint-up(md) {
      margin-right: 0;
    }
  }

  &__arrowLeft,
  &__arrowRight {
    display: none;
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;

    @include media-breakpoint-up(md) {
      display: block;
    }

    svg {
      width: 60px;
      height: 14px;
    }
  }

  &__arrowLeft {
    transform: rotate(180deg);
  }

  &__pageNumbers {
    display: flex;
    align-items: center;
    margin: 0 30px;
    font-size: 14px;
    font-family: $font_basic_bold;
    text-transform: uppercase;
  }

  &__currentPage {
    display: flex;
    align-items: center;

    &::after {
      content: '';
      display: block;
      width: 30px;
      height: 1px;
      margin: 0 10px;
      background: #000;
    }
  }
}
