.mainBanner {
  position: relative;

  &__text {
    position: absolute;
    bottom: 11%;
    left: 17%;
    font-family: $font_title;
    color: $color_white;
    @include media-breakpoint-down(sm) {
      left: 7%;
    }

    &_sale {
      margin-bottom: 20px;
      background: $color_main;
      opacity: 0.79;
      padding: 5px 18px;
      width: 121px;
      font-size: 16px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 25px;
      }
    }

    &_desc {
      font-size: 16px;
    }

    &_title {
      font-size: 14px;
      font-family: $font_basic;
      margin: 5px 0 80px;

      @include media-breakpoint-down(md) {
        margin: 5px 0 35px;
      }
    }
  }

  &__img {
    width: 100%;
    background-size: cover;

    img {
      width: 100%;
      overflow: hidden;

      @include media-breakpoint-down(md) {
        min-height: 280px;
      }
    }
  }

  &__link {
    color: $color_white;
    font-size: 12px;
  }

  &__link > .mainBanner__icon {
    position: relative;
    display: inline-block;
    width: 69px;
    height: 1px;
    margin-left: 20px;
    color: $color_white;
    line-height: 15px;
    vertical-align: middle;
    background-color: #fff;
    transition: 0.5s;
  }

  &__link > .mainBanner__icon::before,
  &__link > .mainBanner__icon::after {
    content: '';
    position: absolute;
    right: 1px;
    display: block;
    width: 0;
    height: 8px;
    margin-top: -6px;
    border-right: 1px solid #fff;
    transform: rotate(135deg);
  }

  &__link > .mainBanner__icon::after {
    margin-top: -1px;
    transform: rotate(45deg);
  }
}

