// Мобильное меню

.menuMobile {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 104;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  padding: 20px;
  background-color: $color_white;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color_white;
    z-index: 6;
  }

  &.active {
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 7;
    width: 100%;
  }
}
