.nav {
  display: none;
  width: 100%;
  @include media-breakpoint-up(xl) {
    display: block;
  }

  &.active {
    background-color: #eff3e0;
    bottom: 0;
    display: block;
    height: 100vh;
    left: 0;
    padding: 25px 25px 20px 37px;
    position: fixed;
    right: 0;
    top: 0;
  }

  &__list {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    @include media-breakpoint-up(xl) {
      display: flex;
      margin-top: 0;
    }

    &.active {
      flex-direction: column;
    }
  }

  &__item {
    font-family: $opensans_semibold;
    margin-left: 0;
    margin-top: 15px;
    @include media-breakpoint-up(xl) {
      margin-left: 30px;
      margin-top: 0;
    }

    @media (min-width: 1400px) {
      margin-left: 35px;
    }

    @media (min-width: 1450px) {
      margin-left: 40px;
    }
  }

  &__link {
    color: $black;
    display: block;
    font-size: 1.8rem;
    outline: none;
    overflow: hidden;
    padding-bottom: 6px;
    position: relative;
    @include media-breakpoint-up(md) {
      font-size: 2rem;
    }
    @include media-breakpoint-up(xl) {
      color: $white;
      font-size: 1rem;
    }

    &:after {
      background-color: #cea200;
      bottom: 0;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      transition: 0.3s;
      width: 0;
    }

    &:hover {
      color: $black;

      &:after {
        width: 100%;
      }
    }

    &.active {
      &:after {
        width: 100%;
      }
    }
  }
}

.hamburger {
  color: $black;
  display: block;
  margin-left: 30px;
  @include media-breakpoint-up(xl) {
    display: none;
  }

  &:hover {
    color: $black;
  }
}

.menu__closeBtn {
  color: $black;
  display: none;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 10;

  &:hover {
    color: $black;
  }
}
