.nav {
  display: none;
  height: 100%;
  width: 100%;
  @include media-breakpoint-up(md) {
    display: block;
    width: auto;
  }

  &_mobile {
    display: block;
  }

  &__list {
    height: 100%;
    display: flex;
    flex-direction: row;
    @include media-breakpoint-up(md) {
      display: flex;
    }

    &.active {
      flex-direction: column;
    }
  }

  &__item {
    height: 100%;
  }

  &__link {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 25px;
    overflow: hidden;
    outline: none;
    font-size: 12px;
    text-transform: uppercase;
    color: $color_text_basic;

    &:hover {
      color: $color_text_basic;
      background-color: $color_btn_hover;
    }

    &.active {
      color: $color_text_basic;
      background-color: $color_btn_hover;
    }
  }

  // для мобильного меню
  &_mobile {
    .nav__list {
      flex-direction: column;
      justify-content: center;
      margin-top: -35px;
    }

    .nav__item {
      height: auto;
    }

    .nav__link {
      justify-content: center;
      padding: 14px 0;
      font-size: 16px;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
