.objectSlider {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;

  &__slider {
    margin-bottom: 17px;

    @include media-breakpoint-up(sm) {
      margin-bottom: 40px;
    }
  }

  .slick-track {
    padding-bottom: 10px;
  }

  &--centered .objectCard {
    margin: 0 auto;
  }

  &--active .slick-slide .objectCard::after {
    @include media-breakpoint-up(xl) {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(#fff, 0.6);
      opacity: 1;
      transition: opacity 0.5s;
    }
  }

  &--active .slick-slide.slick-center .objectCard {
    @include media-breakpoint-up(xl) {
      box-shadow: 0 3px 6px rgba(#000, .3);
      z-index: 2;

      &::after {
        opacity: 0;
        width: 0;
        height: 0;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0 auto 30px;

    @include media-breakpoint-up(sm) {
      margin: 0 auto 45px;
    }
  }

  &__arrowLeft,
  &__arrowRight {
    display: none;
    background: none;
    outline: 0;
    border: 0;
    cursor: pointer;

    @include media-breakpoint-up(sm) {
      display: block;
    }

    svg {
      width: 60px;
      height: 14px;
    }
  }

  &__arrowLeft {
    transform: rotate(180deg);
  }

  &__pageNumbers {
    display: flex;
    align-items: center;
    margin: 0 30px;
    font-size: 14px;
    font-family: $font_basic_bold;
    text-transform: uppercase;
  }

  &__currentPage {
    display: flex;
    align-items: center;

    &::after {
      content: '';
      display: block;
      width: 30px;
      height: 1px;
      margin: 0 10px;
      background: #000;
    }
  }
}
