.objectList {
  margin-top: 24px;
  margin-bottom: 30px;
  padding: 0;

  @include media-breakpoint-up(sm) {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 15px;
    padding-left: 15px;
  }

  &__filter {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
  }

  &__filterResetBtn {
    display: block;
    padding: 14px;
    color: $color_text_notActive;
    font-size: 12px;
    font-family: $font_basic_bold;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: color 0.25s;

    &:hover {
      color: $color_text_basic;
    }
  }

  &__select {
    width: 100%;
    white-space: nowrap;
    border-bottom: 1px solid $color_border;

    &:last-child {
      border-bottom: 0;
    }

    @include media-breakpoint-up(sm) {
      width: 200px;
      border-bottom: 0;
    }
  }

  &__cardList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 -15px;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;

      &::after {
        content: '';
        width: 280px;
      }
    }

    @include media-breakpoint-up(md) {
      &::after {
        content: '';
        width: 350px;
      }
    }

    @include media-breakpoint-up(lg) {
      &::after {
        content: '';
        width: 400px;
      }
    }

    @include media-breakpoint-up(xl) {
      justify-content: flex-start;
    }
  }

  .objectCard_animation {
    animation: objectlist 0.5s forwards;
  }

  &__status {
    display: block;
    margin: 20px auto 0;
    padding: 24px;
    color: $color_text_basic;
    font-size: 14px;
    font-family: $font_basic_bold;
    letter-spacing: 1.4px;
    text-align: center;
    text-transform: uppercase;
  }

  &__moreBtn {
    display: block;
    margin: 20px auto 0;
    padding: 24px;
    color: $color_text_basic;
    font-size: 14px;
    font-family: $font_basic_bold;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
  }

  &__pagination {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__links {
    display: flex;
    justify-content: center;
    margin: 30px auto 0;
  }

  &__linksItem {
    margin-right: 5px;
    padding: 10px;
    color: $color_text_notActive;
    font-family: $font_basic;
    font-size: 14px;

    &:hover {
      color: $color_text_basic;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@keyframes objectlist {
  0% {
    opacity: 0;
    transition: opacity 0.5s;
  }

  100% {
    opacity: 1;
  }
}

.infinite-scroll-animation {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.5s;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}
