.objectCard {
  position: relative;
  width: 100%;
  max-width: 280px;
  padding: 12px 15px;
  background: $color_white;
  transition: all 0.5s;

  @include media-breakpoint-up(md) {
    max-width: 350px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 400px;
  }

  &__image {
    display: block;
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include media-breakpoint-up(md) {
      height: 320px;
    }

    @include media-breakpoint-up(lg) {
      height: 370px;
    }

    img {
      max-width: 100%;
    }
  }

  &__tags {
    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 10px -10px 0;
      list-style: none;

      @include media-breakpoint-up(lg) {
        margin: 11px -10px 8px;
      }
    }

    li {
      padding: 8px;
      color: $color_text_basic;
      font-size: 14px;
      font-family: $font_basic_bold;
      letter-spacing: 1.2px;
      text-transform: uppercase;

      @include media-breakpoint-up(md) {
        padding: 10px;
        font-size: 12px;
      }
    }
  }

  &__priceGroup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: $color_main;
    font-size: 14px;
    font-family: $font_basic_bold;
    letter-spacing: 1.4px;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
      margin-top: 8px;
    }
  }

  &__area {
    display: flex;
    align-items: center;
    width: 100%;

    span {
      flex-grow: 0;
      flex-shrink: 0;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      margin: 0 18px;
      background: $color_main;
    }
  }

  &__priceYear {
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 10px;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }

  &__priceMonth {
    margin-top: 10px;
    color: $color_main;
    font-size: 14px;
    font-family: $font_basic_bold;
    letter-spacing: 1.4px;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
      text-align: right;
    }
  }

  &__title {
    margin-top: 25px;
    color: $color_text_basic;
    font-size: 14px;
    font-family: $font_basic_bold;
    line-height: 1.3;
    text-transform: uppercase;
  }

  &__address {
    display: flex;
    margin-top: 21px;
    color: $color_text_basic;
    font-size: 14px;
    font-family: $font_basic;
    line-height: 20px;
  }

  &__mapIcon {
    flex-grow: 0;
    flex-shrink: 0;
    width: 17px;
    height: 21px;
    margin-right: 11px;
  }

  &__moreBtn {
    display: inline-block;
    padding-top: 24px;
    padding-right: 24px;

    svg {
      width: 60px;
      height: 13px;
    }
  }
}
