.offers {
  background: $color_bg_light;

  &__content {
    @include media-breakpoint-down(sm) {
      padding: 24px 0 30px;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    text-align: center;
    @include media-breakpoint-down(md) {
      padding-top: 22px;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 30px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 52px 0 86px;
    @include media-breakpoint-down(sm) {
      margin: 0;
    }

    svg {
      color: $color_main;
      width: 120px;
      height: 120px;
      @include media-breakpoint-up(sm) {
        width: 170px;
        height: 170px;
      }
    }

    &-text {
      text-transform: uppercase;
      font-family: $font_basic_bold;
      margin-top: 32px;
      line-height: 15px;
      @include media-breakpoint-down(sm) {
        margin-top: 14px;
        margin-bottom: 23px;
      }
    }
  }
}
