.officesList {
  padding-top: 30px;
  padding-bottom: 30px;

  &__title {
    font-size: 18px;
    font-family: $font_title;
  }

  &__description {
    padding-top: 10px;
    font-size: 14px;
    line-height: 20px;

    @include media-breakpoint-down(sm) {
      padding-top: 5px;
    }
  }

  /*region animation*/

  &__animation-enter-active,
  &__animation-leave-active {
    transition: opacity 0.5s ease;
  }

  &__animation-enter,
  &__animation-leave-to {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  /*endregion animation*/

  /*region towns*/

  &__towns {
    padding-top: 15px;
    padding-bottom: 15px;

    &_main {
      @include media-breakpoint-down(xl) {
        padding-top: 55px;
      }
      @include media-breakpoint-down(md) {
        padding-top: 35px;
      }
      @include media-breakpoint-down(sm) {
        padding-top: 15px;
        padding-bottom: 0;
      }
    }
  }

  &__town {
    padding: 15px;
    color: $color_text_notActive;
    font-weight: bold;
    font-family: $font_basic_bold;
    letter-spacing: 0;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.1s linear;

    &:hover {
      color: $color_text_basic;
    }

    &_active {
      color: $color_text_basic;
      font-weight: bold;
    }

    @include media-breakpoint-down(lg) {
      padding-right: 0;
    }
  }

  /*endregion towns*/

  /*region addresses*/

  &__addresses {
    padding-top: 15px;
    padding-bottom: 15px;

    @include media-breakpoint-down(xl) {
      padding-bottom: 45px;
    }

    @include media-breakpoint-down(md) {
      padding-bottom: 25px;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 5px;
      padding-bottom: 20px;
    }
  }

  &__address {
    padding-top: 15px;
    padding-bottom: 15px;

    @include media-breakpoint-up(lg) {
      &:nth-child(2n) {
        padding-left: 90px;
      }
    }
    @include media-breakpoint-up(md) {
      &:nth-child(2n) {
        padding-left: 50px;
      }
    }

    @include media-breakpoint-down(sm) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

  }

  /*endregion addresses*/

  /*region item*/

  &__items {
    padding-bottom: 0;
    cursor: pointer;

    @include media-breakpoint-up(lg) {
      padding-bottom: 15px;
    }
  }

  &__item {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /*endregion item*/
}

.officesItem {
  max-width: 370px;
  max-height: 500px;

  @include media-breakpoint-down(sm) {
    max-width: 400px;
    padding: 0 15px;
  }

  &_hide {
    /* display: none!important;*/
  }

  &__block {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &__panel {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);

    @include media-breakpoint-only(lg) {
      padding: 20px;
    }

  }

  &__img {
    position: relative;
    line-height: 0;
    transition: transform 0.5s ease-out;
  }

  &__img:hover {
    @include media-breakpoint-up(md) {
      transform: scale(1.1);
    }
  }

  &__title {
    min-height: 45px;
    font-size: 18px;
    font-family: $font_title;
  }

  &__description {
    min-height: 50px;
    padding-top: 10px;
    font-size: 14px;
    line-height: 20px;

    @include media-breakpoint-down(sm) {
      padding-top: 5px;
    }
  }
}



