.pageNotFound {
  overflow: hidden;
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0 8rem;
    color: $color_main;
    @include media-breakpoint-down(sm) {
      padding: 4rem 0;
    }
  }

  &__title {
    font-size: 246px;
    font-family: $font_title;
    @include media-breakpoint-down(sm) {
      font-size: 139px;
    }
  }

  &__subtitle {
    font-size: 30px;
    font-family: $font_title;
    margin-top: -34px;
    @include media-breakpoint-down(sm) {
      font-size: 23px;
      margin-top: -19px;
    }
  }

  &__btn {
    display: block;
    margin-top: 31px;
    padding: 13px 30px;
    background: $color_main_light;
    font-size: 12px;
    text-transform: uppercase;
    color: $color_black;
    letter-spacing: 1.2px;
    font-family: $font_basic_medium;
    @include media-breakpoint-down(sm) {
      font-size: 13px;
    }
  }
}
