.politika {
  &__title {
    @include media-breakpoint-down(sm) {
      font-size: 24px;
    }
  }

  &__subtitle {
    font-size: 16px;
    margin-top: 34px;
    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }

  &__text {
    margin: 0;

    &:last-child {
      margin-bottom: 63px;
    }
  }
}
