.popupMessage {
  position: relative;
  width: 100%;
  height: 370px;
  margin: 0 15px;
  box-shadow: 0 0 12px 0 rgba(#000, 0.3);
  @include media-breakpoint-up(sm) {
    margin: 0 34px;
  }
  @include media-breakpoint-up(md) {
    width: 700px;
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    height: 47px;
    padding: 0 28px;
    background: #fff;
  }

  &__closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 48px;
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &__logo {
    display: block;
    width: 130px;
    fill: #000;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: $color_white;
    background: linear-gradient(191deg, #ff4356 0%, #ff0019 100%);
  }

  &__letterIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    margin-bottom: 16px;
    background: linear-gradient(16deg, #ff3b4e 0%, #ff0019 100%);
    border-radius: 100%;

    svg {
      width: 114px;
      height: 114px;
      color: #fff;
    }
  }

  &__title {
    max-width: 300px;
    margin-bottom: 4px;
    font-size: 18px;
    font-family: $font_basic_bold;
    line-height: 29px;
    letter-spacing: 2.4px;
    text-align: center;
    text-transform: uppercase;
  }

  &__subtitle {
    max-width: 255px;
    margin-top: 5px;
    font-size: 14px;
    font-family: $font_basic;
    line-height: 20px;
    text-align: center;
  }
}
