.popupForm {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
  margin: 0 15px;
  box-shadow: 0 0 12px 0 rgba(#000, 0.3);
  @include media-breakpoint-up(470px) {
    width: 470px;
  }
  @include media-breakpoint-up(md) {
    justify-content: flex-start;
    width: 700px;
  }

  &__aside {
    position: relative;
    display: none;
    flex-grow: 0;
    flex-shrink: 0;
    width: 230px;
    overflow: hidden;
    background: linear-gradient(190deg, #ff5162 0%, #ff0019 100%);
    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &__logo {
    display: block;
    width: 170px;
    margin: 15px auto 0;
    fill: #fff;
  }

  &__message {
    position: absolute;
    bottom: 260px;
    left: -30px;
    width: 82px;
    height: 75px;

    svg {
      color: #fff;
      transform: scale(3.5);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 470px;
    color: $color_text_basic;
    background: #fff;
  }

  &__closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &__title {
    margin-bottom: 4px;
    font-size: 18px;
    font-family: $font_title;
    text-align: center;
    @include media-breakpoint-up(sm) {
      font-size: 24px;
    }
  }

  &__subtitle {
    margin-bottom: 28px;
    font-size: 14px;
    font-family: $font_subtitle;
    text-align: center;
    @include media-breakpoint-up(sm) {
      font-size: 16px;
    }
  }

  &__form {
    width: 260px;
  }

  &__field {
    display: block;
    width: 100%;
  }

  &__textarea {
    width: 100%;
  }

  &__submitBtn {
    width: 100%;
    margin-top: 30px;
  }

  &__group {
    position: relative;
    padding-bottom: 30px;

    &--error {
      .popupForm__error {display: block;}
    }
  }

  &__error {
    position: absolute;
    bottom: 15px;
    display: none;
    color: $color_main;
    font-size: 11px;
  }

  &__agreement {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.2;

    a {
      color: $color_main;
    }
  }
}
