.recommendObject {
  &__title {
    margin-top: 70px;
    margin-bottom: 28px;
    color: $color_text_basic;
    text-align: center;

    &--small {
      margin-top: 60px;
      margin-bottom: 22px;
      margin-left: 15px;
      font-size: 20px;
      text-align: left;
    }
  }
}
