.search {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 103;
  display: flex;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  overflow-y: scroll;
  background-color: $color_bg_light;
  transform: translate3d(0, 0, 0);

  &_static {
    position: static;
    padding-top: 0;
    height: auto;
    overflow-y: visible;
    z-index: 1;

    @include media-breakpoint-down(md) {
      height: auto;
    }
  }

  @include media-breakpoint-up(md) {
    height: auto;
    padding: 75px 0;
    justify-content: center;
  }

  @include media-breakpoint-up(xl) {
    top: 120px;
    padding: 0;
    overflow-y: visible;
  }

  &__inner {
    padding: 0;

    @include media-breakpoint-up(md) {
      padding: 0 45px;
    }

    @include media-breakpoint-up(xl) {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-column-gap: 200px;
      margin: 0;
      padding: 35px 15px;
      border-top: 1px solid $color_border;
    }
  }

  &__content {
    margin-bottom: 35px;

    @include media-breakpoint-up(md) {
      margin-bottom: 22px;
      padding-bottom: 40px;
      border-bottom: 1px solid $color_border;
    }

    @include media-breakpoint-up(xl) {
      grid-row: 1 / 3;
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  &__filterGroup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
      margin-top: 30px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 15px;
    }
  }

  &__filterGroup &__filter {

    @include media-breakpoint-up(xl) {
      margin-top: 0;
    }

    &:last-child {
      margin-top: 20px;

      @include media-breakpoint-up(md) {
        margin-top: 20px;
      }

      @include media-breakpoint-up(lg) {
        margin-top: 0;
        margin-left: 45px;
      }
    }

    &:last-child .filter__name {
      @include media-breakpoint-up(lg) {
        width: auto;
        margin-right: 16px;
      }
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      margin-top: 30px;

      &:first-child {
        margin-top: 0;
      }
    }

    @include media-breakpoint-up(xl) {
      margin-top: 15px;
    }
  }

  &__findBtn {
    width: 100%;
    margin: 0 auto 10px;
    letter-spacing: 1.2px;
    background: $color_btn_normal;

    @include media-breakpoint-up(md) {
      width: 170px;
    }

    @include media-breakpoint-up(xl) {
      grid-row: 2 / 3;
      grid-column: 2;
      align-self: flex-end;
      margin-top: auto;
      margin-bottom: 0;
    }
  }

  &__resetBtn {
    margin: 0 auto 20px;
    font-size: 10px;
    font-family: $font_basic_light;
    letter-spacing: 1.3px;
    background: none;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
      grid-row: 1 / 2;
      grid-column: 2;
    }
  }

  .filter {

    &__name {
      padding: 20px 15px 12px;
      font-size: 14px;
      font-family: $font_basic_semibold;
      background-color: $color_white;

      @include media-breakpoint-up(md) {
        width: 110px;
        padding: 10px 0;
        font-family: $font_basic_medium;
        background-color: transparent;
      }

      span {
        @include media-breakpoint-up(md) {
          display: none;
        }
      }

      &_border {
        border-bottom: 1px solid $color_border;

        @include media-breakpoint-up(md) {
          border-bottom: none;
        }
      }
    }

    &__list {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0 15px;
      background-color: $color_bg_light;

      @include media-breakpoint-up(md) {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
      }
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 0;
      font-size: 12px;
      transition: color 0.25s;

      @include media-breakpoint-up(md) {
        padding: 10px 14px;
        font-family: $font_basic_medium;
        letter-spacing: 0.54px;
        color: $color_text_notActive;
      }

      @include media-breakpoint-up(xl) {
        transition: all 1s;
      }

      &:hover {
        @include media-breakpoint-up(md) {
          cursor: pointer;
          color: $color_main;

          .filter__itemLabel::after {
            width: 100%;
          }
        }
      }

      &_active {
        color: $color_main;

        @include media-breakpoint-down(md) {
          .filter__checkIcon {
            opacity: 1;
          }
        }

        @include media-breakpoint-up(md) {
          .filter__itemLabel::after {
            width: 100%;
          }
        }
      }

      &_big {

        @include media-breakpoint-up(md) {
          font-size: 10px;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-family: $font_basic_medium;
        }
      }
    }

    &__itemLabel {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 0;
        height: 1px;
        background: $color_main;
        transition: width 0.25s;
      }
    }

    &__checkIcon {
      position: relative;
      display: block;
      width: 14px;
      height: 9px;
      opacity: 0;
      transition: opacity 0.25s;

      @include media-breakpoint-up(md) {
        display: none;
      }

      &::after,
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        height: 1px;
        background: $color_main;
      }

      &::before {
        bottom: -1px;
        left: -2px;
        width: 5px;
        transform: rotate(45deg);
      }

      &::after {
        left: 0;
        width: 9px;
        transform: rotate(-45deg);
      }
    }

    &__inner {
      display: flex;
      flex-direction: row;
      padding: 0 10px;

      @include media-breakpoint-up(md) {
        padding: 0;
      }

      span {
        display: none;

        @include media-breakpoint-up(md) {
          display: inline-block;
          margin-left: 10px;
          padding: 10px 0;
          font-family: $font_basic_medium;
        }

        @include media-breakpoint-up(xl) {
          font-family: $font_basic;
          color: $color_placeholder_dark;
        }
      }
    }

    &__col {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 5px;

      @include media-breakpoint-up(md) {
        flex: auto;
        max-width: none;
        width: 100px;
        padding: 0;
        margin-left: 15px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    &__input {
      width: 100%;
      padding: 11px 13px;
      border: 1px solid $color_border;
      color: $color_main;

      @include media-breakpoint-up(md) {
        padding: 11px 20px;
      }

      &::placeholder {
        font-size: 14px;
        color: $color_placeholder_dark;
      }
    }
  }
}

.search-animation {
  &-enter-active,
  &-leave-active {
    transform: translateY(0);
    transition: transform 0.5s;
  }

  &-enter,
  &-leave-to {
    transform: translateY(-100%);
  }
}

.search-filter-animation {
  @include media-breakpoint-up(xl) {
    &-leave-active {
      position: absolute;
    }

    &-enter,
    &-leave-to {
      opacity: 0;
      transform: translateY(30px);
    }

    &-move {
      transition: transform 0.5s;
    }
  }
}
