.subscribeForm {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 328px;
  padding: 0 20px;
  overflow: hidden;
  background: $color_main_light;
  @include media-breakpoint-up(sm) {
    height: 210px;
    padding: 0 20px;
  }
  @include media-breakpoint-up(lg) {
    height: 350px;
  }

  &__bgLogo {
    position: absolute;
    bottom: 14%;
    left: 22%;
    color: #fff;
    opacity: 0.5;

    svg {
      height: 100%;
      transform: scale(1.8);
      @include media-breakpoint-up(sm) {
        transform: scale(2.2);
      }
      @include media-breakpoint-up(lg) {
        transform: scale(2.8);
      }
    }
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__title {
    margin-bottom: 30px;
    color: $color_text_basic;
    font-size: 24px;
    font-family: $font_title;
    text-align: center;
    @include media-breakpoint-up(sm) {
      margin-bottom: 35px;
      font-size: 28px;
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 50px;
      font-size: 36px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
  }

  &__field {
    width: 100%;
    max-width: 300px;
  }

  &__submitBtn {
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
    color: $color_white;
    background: $color_main;
    @include media-breakpoint-up(sm) {
      width: 180px;
      margin-top: 0;
      margin-left: 20px;
    }

    &:hover {
      background: darken($color_main, 15%);
    }
  }
}
