<div class="footer__top">
  <div class="footer__container container">
    <div class="footer__content row">
      <div class="footer__col col-12 col-md-4">
        <div class="footer__logo">
          <a href="/" class="footer__logo_link">
            <svg>
              <use xlink:href="#sprite-logo_white"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="footer__col col-6 col-md-2">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="/renta/"
               class="footer__link footer__link_transform">Аренда</a>
          </li>
          {% for type in result.AR_TYPES %}
            {% if type.CNT > 0 %}
              <li class="footer__item">
                <a href="{{ result.BLOCK_URL }}?type={{ type.PROPERTY_TYPE_ENUM_ID }}&filter=Y"
                   class="footer__link">{{ type.PROPERTY_TYPE_VALUE }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <div class="vue-component" id="vue-footer" data-component="Footer">
        <div class="footer__col col-12 col-md-3">
        <div class="footer__text">
          <div class="row">

            <div class="col-6 col-md-12">
              <a href="#" class="footer__callLink"  v-on:click.prevent="openPopupForm">
                <div class="footer__phone">{{ result.PHONE }}</div>
                <div class="footer__call">Заказать звонок</div>
              </a>
            </div>
            <div class="col-6 col-md-12">
              <p><a class="footer__link footer__link_prod" href="https://www.gutadevelopment.ru/">Guta Development</a></p>
              <p><a class="footer__link footer__link_prod" href="http://www.redok.ru/">Красный Октябрь</a></p>
              <p><a class="footer__link footer__link_prod" href="/partners/"
                    title="«Совет директоров Гута-Банк: Гущин Юрий Николаевич, Харин Алексей Анатольевич, Смирнов Андрей Вячеславович, Ирин Георгий Александрович, Петров Александр Юрьевич»">
                  Гута Банк</a></p>
              <p>«В составе <a class="footer__link footer__link_prod" href="https://www.gutagroup.ru/about/">Группа Гута</a>»</p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>




