<div class="menuMobile" id="menuMobile">
    <div class="menuMobile__inner">
        <div class="nav nav_mobile nav_header">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/renta/" class="nav__link">Аренда</a>
                </li>
                <li class="nav__item">
                    <a href="/contacts/" class="nav__link">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</div>
