/* контейнер main */
.main {
  flex: 1; // in ie11 doesn't work correctly
  position: relative;
  transition: all 0.4s ease;
  background-color: $color_white;

  &__inner {
    margin-bottom: 37px;
    @include media-breakpoint-up(md) {
      margin-bottom: 40px;
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 50px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 68px;
    }
  }

  // style only for ie11
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    flex: none;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
