.section {

  /*с отступом margin-top*/
  &_mt {
    margin-top: 20px;
    @include media-breakpoint-up(md) {
      margin-top: 40px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: 60px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 80px;
    }
  }

  /*Растянут на всю ширину экрана*/
  &_fluid {

    /*Растянут на всю ширину экрана на Mobile*/
    &_mob {
      max-width: none;
      padding: 0;
      @include media-breakpoint-up(md) {
        max-width: 720px;
        padding: 0 15px;
      }
      @include media-breakpoint-up(lg) {
        max-width: 960px;
        padding: 0 15px;
      }
      @include media-breakpoint-up(xl) {
        max-width: 1140px;
        padding: 0 15px;
      }
    }

    /*Растянут на всю ширину экрана на Tablet*/
    &_tab {
      @include media-breakpoint-up(md) {
        max-width: none;
        padding: 0;
      }
      @include media-breakpoint-up(lg) {
        max-width: 960px;
        padding: 0 15px;
      }
      @include media-breakpoint-up(xl) {
        max-width: 1140px;
        padding: 0 15px;
      }
    }

    /*Растянут на всю ширину экрана на Desktop*/
    &_desk {
      @include media-breakpoint-up(lg) {
        max-width: 960px;
        padding: 0 15px;
      }
      @include media-breakpoint-up(xl) {
        max-width: 1140px;
        padding: 0 15px;
      }
    }
  }

  &__img {
    width: 100%;
  }

  &__link {
    display: flex;
    align-items: center;
    color: $black;
    font-family: $font_link;
    font-size: 1rem;

    &:hover {
      color: $color_main;
    }

    &_white {
      color: $color_text_white;
    }
  }

  /* стрелка при наведении */
  &__link > .link__icon {
    width: 69px;
    height: 1px;
    margin-left: 20px;
    background-color: #000;
    display: inline-block;
    line-height: 15px;
    vertical-align: middle;
    position: relative;
    transition: 0.5s;
  }

  &__link_white > .link__icon {
    background-color: $color_black;
  }

  &__link > .link__icon::before,
  &__link > .link__icon::after {
    border-right: 1px solid #000;
    content: '';
    display: block;
    height: 8px;
    margin-top: -6px;
    position: absolute;
    transform: rotate(135deg);
    right: 1px;
    width: 0;
  }

  &__link_white > .link__icon::before,
  &__link_white > .link__icon::after {
    border-color: $color_black;
  }

  &__link > .link__icon:after {
    margin-top: -1px;
    transform: rotate(45deg);
  }

  &__link:hover > .link__icon {
    width: 200px;
  }
}


