// ПОДЗАГОЛОВКИ //
.subtitle {
  margin-top: 10px;
  font-family: $font_subtitle;
  color: $color_text_basic;
  font-size: 16px;
  @include media-breakpoint-up(md) {
    font-size: 18px;
  }

  &:hover {
    color: $color_text_basic;
  }

  & a {
    color: $color_text_basic;

    &:hover {
      color: $color_main;
      transition: 0.3s;
    }
  }
}
