// ТЕКСТ //
.text {
  @include media-breakpoint-up(md) {
  }
  margin-top: 15px;
  color: $black;
  font-family: $font_basic;
  font-size: 1rem;
  line-height: 1.42rem;
  @include media-breakpoint-up(xl) {
    margin-top: 30px;
    line-height: 1.5rem;
  }

  &_bold {
    font-family: $font_basic_bold;
  }

  &_white {
    color: $color_white;
  }

  &_red {
    color: $color_main;
  }

  & p,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 15px;
    @include media-breakpoint-up(xl) {
      padding-top: 30px;
    }

    &:first-child {
      padding-top: 0;
    }
  }

  /*Цитата в тексте*/
  & blockquote {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: $font_subtitle;
    font-size: 1rem;
    @include media-breakpoint-up(md) {
      padding-top: 30px;
      padding-bottom: 10px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 45px;
      padding-bottom: 15px;
    }
  }

  & ul {
    list-style: disc;
    list-style-position: inside;
  }

  & a {
    color: $color_main;

    &:hover {
      color: #efc52a;
    }
  }

  & img {
    width: 100%;
  }
}
