// ЗАГОЛОВКИ //

/* общее */
.title {
  margin-top: 10px;
  color: $color_text_basic;
  font-family: $font_title;

  a &:hover {
    color: $color_main;
  }

  /*белый заголовок*/
  &_white {
    color: $color_text_white;

    &a:hover {
      color: $color_main;
    }
  }

  /*заголовки с отступом margin-top*/
  &_mt {
    margin-top: 20px;
    @include media-breakpoint-up(md) {
      margin-top: 40px;
    }
  }

  /*маленького размера*/
  &_small {
    font-size: 16px;
    @include media-breakpoint-up(md) {
      font-size: 18px;
    }
  }

  /*среднего размера*/
  &_medium {
    font-size: 18px;
  }

  /*обычного размера*/
  &_regular {
    font-size: 24px;
    @include media-breakpoint-up(md) {
      font-size: 28px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 32px;
    }
  }
}

/*заголовки-ссылки*/
a.title:hover {
  color: $color_main;
  transition: 0.2s ease-out;
}

/*белый заголовок*/
a.title_white:hover {
  color: $color_text_white;
}
