.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  color: $color_black;
  font-size: 12px;
  font-family: $font_basic_medium;
  text-transform: uppercase;
  background: $color_btn_normal;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 0.25s;

  &:hover {
    background: $color_btn_hover;
  }

  &:disabled {
    color: $color_btnText_disabled;
    background: $color_btn_disabled;
  }
}

.input,
.textarea {
  color: $font_basic;
  font-size: 10px;
  font-family: $font_basic;
  background: #fff;
  border: 1px solid #bbb;

  &::placeholder {
    color: $color_placeholder_normal;
  }

  &--dark-placeholder::placeholder {
    color: $color_placeholder_dark;
  }
}

.input {
  height: 40px;
  padding: 15px 20px 12px;
}

.textarea {
  height: 90px;
  padding: 14px;
  resize: none;
}

.select {
  .custom-select-opener,
  .custom-select-option {
    display: flex;
    justify-content: space-between;
    padding: 14px 14px 14px 20px;
    color: $color_text_basic;
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    background: $color_select_normal;

    &:first-child::after {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      margin-left: 13px;
      background: url('../../images/right_arrow.svg') center no-repeat;
      background-size: contain;
      transform: rotate(90deg);
      transition: transform 0.3s;
    }
  }

  .custom-select-opener {
    font-family: $font_basic_bold;
    border: 0;
    outline: none;
  }

  .custom-select-panel {
    top: 0;
    box-shadow: 0 0 6px rgba(#000, 0.29);
    opacity: 0;
    transition: opacity 0.3s;
  }

  .customSelect.is-open .custom-select-panel {
    max-height: 16.7em;
    opacity: 1;
  }

  .customSelect.is-open .custom-select-opener:first-child::after,
  .customSelect.is-open .custom-select-option:first-child::after {
    transform: rotate(-90deg);
  }

  .custom-select-option {
    font-family: $font_basic;
    cursor: pointer;
    transition: background 0.25s;

    &:hover {
      background: $color_select_hover;
    }

    &:first-child {
      padding-bottom: 20px;
    }

    &.is-selected {
      font-family: $font_basic_bold;
    }

    &::before {
      display: none;
    }
  }
}

.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.5s;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}
