
<!--Баннер-->
<div class="mainBanner">
  <div class="mainBanner__img">
    <img src="{{ result.IMAGE }}" alt="index_img">
{#    <div class="mainBanner__text">#}
{#      <div class="mainBanner__text_sale"> 5% cкидка</div>#}
{#      <div class="mainBanner__text_desc">Арт-Кластер «Красный Октябрь»</div>#}
{#      <div class="mainBanner__text_title">Аренда помещения различного назначения</div>#}

{#      <a href="#" class="mainBanner__link">#}
{#        Узнать больше#}
{#        <span class="mainBanner__icon"></span>#}
{#      </a>#}
{#    </div>#}
  </div>
</div>
<!--Баннер-->

<!--First Section-->
<section class="section about container">
  <h1 class="about__title title title_regular">
    {{ result.H1 }}
  </h1>
  <div class="text about__text">
    {{ result.DESCRIPTION }}
  </div>
</section>
<!--/First Section-->
