<!-- header -->
<header class="header">
    <div class="header__top">
        <!--Инфопанель-->
        <info-panel></info-panel>
        <div class="header__inner container">
            <a href="#" class="header__callLink" v-on:click.prevent="openPopupForm">
                <div class="header__phone">{{ phone }}</div>
                <div class="header__call">Заказать звонок</div>
            </a>
        </div>
    </div>
    <div class="header__bottom">
        <div class="header__inner container">
            <div class="header__left">
                <div class="logo">
                    <a href="/" class="logo__link">
                        <svg><use xlink:href="#sprite-logo_black"></use></svg>
                    </a>
                </div>
            </div>
            <div class="header__right">
                <div class="nav nav_header">
                    <ul class="nav__list">
                      {% for item in arMenu %}
                        <li class="nav__item">
                          <a href="{{ item.LINK }}" class="nav__link">{{item.NAME}}</a>
                        </li>
                      {% endfor %}
                    </ul>
                </div>

                <div class="header__search">
                    <a href="#" id="open-search-btn" class="search__link">
                        <span>Найти помещение</span>
                        <svg class="search-icon"><use xlink:href="#sprite-search"></use></svg>
                        <svg class="close-icon"><use xlink:href="#sprite-close_black"></use></svg>
                    </a>
                </div>

                <a v-on:click="openMenu" href="#" id="hamburger" class="hamburger">
                    <svg><use xlink:href="#sprite-burger"></use></svg>
                </a>
                <a v-on:click="closeMenu" href="#" id="closeMobileMenu" class="menu__closeBtn">
                    <svg><use xlink:href="#sprite-close_black"></use></svg>
                </a>


            </div>
        </div>
    </div>

</header>
<!-- / header -->
