<template>
  <div class="accordion" :class="{ 'accordion_opened': isOpen }">
    <div class="accordion__header" @click="toggle">
      <div class="accordion__title">
        <slot name="title"></slot>
      </div>
      <div class="accordion__expandIcon"></div>
    </div>
    <transition name="accordionAnimation">
      <div class="accordion__content" v-show="isOpen">
        <slot name="content"></slot>
      </div>
    </transition>
  </div>
</template>

<script>
  export default {
    data: () => ({
      isOpen: false
    }),
    methods: {
      toggle() {
        this.isOpen = !this.isOpen;
      }
    }
  }
</script>
