<template>
  <transition name="slideTop">
    <div class="infoPanel" v-show="show">
      <div class="infoPanel__content">
        <div class="infoPanel__message">{{ message }}</div>
        <button class="infoPanel__close" @click="show = false">
          <svg><use xlink:href="#sprite-close_red"></use></svg>
        </button>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    data: () => ({
      show: false,
      message: ''
    }),
    mounted() {
      document.addEventListener('openInfoPanel', (e) => {
        this.show = true;
        this.message = e.detail;
      });
    },
  }
</script>
