<template>
  <div class="lotSlider" v-if="totalSlides > 0">
    <div ref="slider" class="lotSlider__slider" id="lightgallery">
      <slick ref="slick" :options="slickOptions" @beforeChange="beforeChangeHandler" @init="handleInit">
        <div class="lotSlider__item lightbox" :data-src="lightGalleryAdaptive(slide)" v-for="slide in slides">
          <div class="lotSlider__image" :style="{ backgroundImage: `url(${slide.image})` }"></div>
        </div>
      </slick>
    </div>
    <div class="lotSlider__nav" v-if="totalSlides > 0">
      <button class="lotSlider__arrowLeft" @click="prevSlide">
        <svg>
          <use xlink:href="#sprite-arrow_black"></use>
        </svg>
      </button>
      <div class="lotSlider__pageNumbers">
        <div class="lotSlider__currentPage">{{ currentSlide + 1}}</div>
        <div class="lotSlider__pageCount">{{ totalSlides }}</div>
      </div>
      <button class="lotSlider__arrowRight" @click="nextSlide">
        <svg>
          <use xlink:href="#sprite-arrow_black"></use>
        </svg>
      </button>
    </div>
  </div>
</template>

<script>
  import Slick from 'vue-slick';
  import 'lightgallery.js';
  import VueMq from 'vue-mq';
  import {createApp} from 'vue';
  let app=new createApp({})

  app.use(VueMq, {
    breakpoints: {
      mobile: 767,
      tablet: 991,
      laptop: 1199,
      desktop: Infinity,
    },
  });

  export default {
    props: ['initial'],
    data: () => ({
      slides: [],
      slider: null,
      currentSlide: 0,
      infinite: true,
      slickOptions: {
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
      }
    }),
    components: {
      'slick': Slick,
    },

    computed: {
      totalSlides: function () {
        this.slides.length = Object.keys(this.slides).length;

        return (this.slides && this.slides.length) ? this.slides.length : 0;
      }
    },
    mounted() {
      if (this.initial.objects) {
        this.slides = this.initial.objects;
      }
    },
    methods: {

      // Картинки в лайтбоксе показываются в зависимости от разрешения. На десктопе - крупные,
      // на мобилах - отресайзенные до 800 по ширине.
      lightGalleryAdaptive(slide) {
        return this.$mq === 'desktop' ? slide.original_image : slide.image;
      },

      prevSlide() {
        this.$refs.slick.prev();
      },
      nextSlide() {
        this.$refs.slick.next();
      },
      reInit() {
        // Helpful if you have to deal with v-for to update dynamic lists
        this.$nextTick(() => {
          this.$refs.slick.reSlick();
        });
      },
      beforeChangeHandler(event, slick, currentSlide, nextSlide) {
        this.currentSlide = nextSlide;
      },

      handleInit(event, slick) {

        const slider = this.$refs.slider;

        lightGallery(slider, {
          selector: '.slick-slide:not(.slick-cloned) .lightbox',
          fullScreen: true,
          cssEasing: 'cubic-bezier(0.25, 0, 0.25, 1)',
          mode: 'lg-fade',
          speed: 500,
          getCaptionFromTitleOrAlt: false,
          download: false,
          closable: true,
        });

        // Click on black space - close picture in mobile
        document.addEventListener('touchstart', function (e) {
          if (e.target.className === 'lg-img-wrap') {
            const el = document.getElementById('lightgallery');
            window.lgData[el.getAttribute('lg-uid')].destroy();
          }

        }, false);

      },
    }
  };
</script>
