<template>
  <div class="objectList__filter" v-if="this.filters">
    <div class="select objectList__select" v-for="filter in filters">
      <select v-model="filter.currentVal" v-on:change="changeFilter(filter.name)">
        <option disabled value="">{{ filter.title }}</option>
        <option v-for="item in filter.values" :value="item.link">{{ item.label }}</option>
      </select>
    </div>
    <transition class="fade">
      <button class="objectList__filterResetBtn" v-show="isShowBtn" @click="resetFilter">Сбросить фильтр</button>
    </transition>
  </div>
</template>

<script>
  import customSelect from 'custom-select';

  export default {
    props: ['initial'],
    data: () => ({
      filters: [],
      isShowBtn: false,
      cstSel: null
    }),
    beforeMount() {
      if (this.initial && this.initial.filters) {
        this.filters = this.initial.filters.map(item => ({ ...item, currentVal: '' }));
      }
    },
    mounted() {
      this.cstSel = customSelect('select');

      if (window.location.search) {
        this.setFiltersFromUrl();
      }
    },
    methods: {
      // Возвращает массив объектов с параметрами из URL
      getUrlParams() {
        const searchString = window.location.search.substring(1);

        return searchString.split('&').reduce((result, item) => {
          // Приводим массив параметров к виду ключ - значение
          let params = Object.fromEntries( [ item.split('=') ] );

          return { ...result, ...params };
        }, {});
      },
      // Выставляет активные фильтры из адресной строки
      setFiltersFromUrl() {
        const url = window.location.search;
        const params = this.getUrlParams();

        this.filters.forEach((filter, index) => {
          if (params[filter.name]) {
            this.filters[index].currentVal = url;
            this.cstSel[index].value = url;
            this.isShowBtn = true;
          }
        });
      },
      // Применение фильтра
      changeFilter(filter) {
        const { origin, pathname } = window.location;
        let filterString = this.filters.find(item => item.name === filter).currentVal;
        let url = origin + pathname.substring(-1);

        window.location.href = (filterString) ? url + filterString : url;
      },
      // Сброс фильтров
      resetFilter() {
        window.location.href = window.location.origin + window.location.pathname;
      }
    }
  }
</script>
