<template>
  <div
    class="objectCard"
     :class="{ 'objectCard--active': isActive, 'objectCard--disabled': isDisabled }"
     @click="$emit('click')"
  >
    <a class="objectCard__image" :href="$slots.url[0].text" :style="{ backgroundImage: `url('${image}')` }"></a>
    <div class="objectCard__tags">
      <slot name="tags"></slot>
    </div>
    <div class="objectCard__priceGroup" v-if="hasSlot('area') || hasSlot('pricePerYear')">
      <div class="objectCard__area" v-if="hasSlot('area')">
        <span><slot name="area"></slot> м<sup>2</sup></span>
      </div>
      <div class="objectCard__priceYear" v-if="hasSlot('yearly')">
        <slot name="yearly"></slot> ₽ за м<sup>2</sup> в год
      </div>
    </div>
    <div class="objectCard__priceMonth" v-if="hasSlot('monthly')">
      <slot name="monthly"></slot> ₽ в месяц
    </div>
    <div class="objectCard__title" v-if="hasSlot('title')">
      <slot name="title"></slot>
    </div>
    <div class="objectCard__address" v-if="hasSlot('address')">
      <svg class="objectCard__mapIcon"><use xlink:href="#sprite-map-pin"></use></svg>
      <slot name="address"></slot>
    </div>
    <a :href="$slots.url[0].text" class="objectCard__moreBtn">
      <svg><use xlink:href="#sprite-arrow_black"></use></svg>
    </a>
  </div>
</template>

<script>
  export default {
    props: [
      'image',
      'isActive',
      'isDisabled',
    ],
    data: () => ({}),
    methods: {
      hasSlot(name = 'default') {
        return !!this.$slots[name] && !!this.$slots[name][0].text;
      }
    }
  }
  </script>
