<template>

  <div
    class="objectSlider"
    :class="{ 'objectSlider--active': totalSlides > 3, 'objectSlider--centered': totalSlides === 1 }"
    v-if="totalSlides > 0"
  >
    <div class="objectSlider__slider">
      <slick ref="slick" :options="slickOptions" @beforeChange="beforeChangeHandler" @init="init">
        <div class="objectSlider__item" v-for="(slide, index) in slides">
          <object-card :image="slide.image" @click="changeSlide(index)">
            <template v-slot:url>{{ slide.url }}</template>
            <template v-slot:tags>
              <ul>
                <li v-for="tag in slide.tags">{{ tag }}</li>
              </ul>
            </template>
            <template v-slot:area>{{ slide.area }}</template>
            <template v-slot:yearly>{{ slide.pricePerYear }}</template>
            <template v-slot:monthly>{{ slide.pricePerMonth }}</template>
            <template v-slot:title>{{ slide.title }}</template>
            <template v-slot:address>{{ slide.address }}</template>
          </object-card>
        </div>
      </slick>
    </div>
    <div class="objectSlider__nav" v-if="showPagination">
      <button class="objectSlider__arrowLeft" @click="prevSlide">
        <svg><use xlink:href="#sprite-arrow_black"></use></svg>
      </button>
      <div class="objectSlider__pageNumbers">
        <div class="objectSlider__currentPage">{{ currentSlide + 1}}</div>
        <div class="objectSlider__pageCount">{{ totalSlides }}</div>
      </div>
      <button class="objectSlider__arrowRight" @click="nextSlide">
        <svg><use xlink:href="#sprite-arrow_black"></use></svg>
      </button>
    </div>
  </div>
</template>

<script>
  import Slick from 'vue-slick';
  import ObjectCard from './ObjectCard';

  export default {
    props: ['initial'],
    data: () => ({
      slides: [],
      slider: null,
      currentSlide: 0,
      slickOptions: {
        centerMode: true,
        centerPadding: '0px',
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        swipe: false,
        touchThreshold: 10,
        responsive: [
          {
            breakpoint: 960,
            settings: {
              slidesToShow: 2,
              variableWidth: true,
              swipe: true,
            }
          },
          {
            breakpoint: 560,
            settings: {
              slidesToShow: 1,
              centerMode: false,
              variableWidth: true,
              swipe: true
            }
          },
        ]
      }
    }),
    components: {
      ObjectCard,
      Slick,
    },
    computed: {
      showPagination: function () {
        let width = window.screen.width;

        return !(this.totalSlides <= 3 && width > 1200) && !(this.totalSlides <= 2 && width > 550);
      },
      totalSlides: function () {
        this.slides.length = Object.keys(this.slides).length;

        return (this.slides && this.slides.length) ? this.slides.length : 0;
      }
    },
    mounted() {
      if (this.initial.objects) {
        this.slides = this.initial.objects;

        if (this.slides.length <= 3) {
          this.slickOptions.centerMode = this.slides.length > 2 || this.slides.length === 1;
          this.slickOptions.slidesToShow = this.slides.length;
        }
      }
    },
    methods: {
      changeSlide(index) {
        if (index !== this.currentSlide && this.totalSlides > 3 && window.screen.width > 1200) {
          this.$refs.slick.goTo(index);
        }
      },
      isActive(index) {
        return index === this.currentSlide;
      },
      isDisabled(index) {
        return index !== this.currentSlide;
      },
      prevSlide() {
        this.$refs.slick.prev();
      },
      nextSlide() {
        this.$refs.slick.next();
      },
      init() {
        const slider = document.querySelector('.objectSlider__slider');

        slider.addEventListener('click', (e) => {
          const el = e.target.closest('.slick-slide');

          if (el.classList.contains('slick-cloned')) {
            this.$refs.slick.goTo(el.dataset.slickIndex);
          }
        });
      },
      reInit() {
        // Helpful if you have to deal with v-for to update dynamic lists
        this.$nextTick(() => {
          if (this.slides.length <= 3) {
            this.slickOptions.centerMode = this.slides.length > 2 || this.slides.length === 1;
            this.slickOptions.slidesToShow = this.slides.length;
          }
          this.$refs.slick.reSlick();
        });
      },
      beforeChangeHandler(event, slick, currentSlide, nextSlide) {
        this.currentSlide = nextSlide;
      }
    }
  }
</script>
