<template>
    <div class="container officesList">
        <div class="row">
            <div class="col-12 col-lg-10 col-xl-8 ml-auto mr-auto">
                <div class="row justify-content-center justify-content-md-start officesList__towns officesList__towns_main">
                    <div class="col-auto" v-for="town in towns">
                        <div class="officesList__town"
                             v-bind:class="{ 'officesList__town_active': town.id==id}"
                             @click="changeCity(town.id)"> {{ town.message }}
                        </div>
                    </div>
                </div>

                <div class="officesList__townAddresses"
                     v-for="town in towns">
                    <transition name="officesList__animation">
                        <div class="row officesList__addresses" v-if="town.id==id">
                            <div class="col-12 col-md-6 officesList__address"
                                 v-for="address in town.data">
                                <div class="officesList__title">
                                    <a :href="address.SECTION_PAGE_URL">
                                        {{ address.NAME }}
                                    </a>
                                </div>
                                <div class="officesList__description">{{ address.UF_ADDRESS }}</div>
                            </div>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: () => ({
            towns: [],
            addresses: [],
            id: 0
        }),
        props: ['initial'],
        mounted() {
            this.init();
            this.changeCity(this.id);
        },
        methods: {
            init() {
                if (this.initial) {
                    this.address = this.initial;

                    for (let key in this.initial) {
                        let city = this.initial[key].CITY;
                        if (city !== 'undefined' && city.length > 0) { // Города
                            this.towns.push({
                                id: key,
                                message: city,
                                data: this.initial[key].DATA
                            });
                        }
                    }
                }
            },
            changeCity(id) {
                this.id = id;
            }
        }
    }
</script>
