<template>
  <transition name="fade">
    <div v-show="show" class="popup">
      <div class="popup__overlay" @click="showHandler(false)"></div>
      <slot></slot>
    </div>
  </transition>
</template>

<script>
  export default {
    data: () => ({}),
    props: ['show', 'showHandler'],
    methods: {}
  }
</script>
