<template>
  <popup :show="show" :showHandler="showPopup">
    <div class="popupForm">
      <button class="popupForm__closeBtn" @click="show = false">
        <svg><use xlink:href="#sprite-close_black"></use></svg>
      </button>
      <div class="popupForm__aside">
        <svg class="popupForm__logo"><use xlink:href="#sprite-logo_black"></use></svg>
        <div class="popupForm__message">
          <svg><use xlink:href="#sprite-message"></use></svg>
        </div>
      </div>
      <div class="popupForm__content">
        <div class="popupForm__title">Оставьте ваши контакты,</div>
        <div class="popupForm__subtitle">и мы вам обязательно перезвоним</div>
        <form action="#" method="POST" class="popupForm__form" @submit.prevent="sendForm">
          <div class="popupForm__group" :class="{ 'popupForm__group--error' : $v.name.$error }">
            <input v-model="name" type="text" name="NAME" class="input popupForm__field" placeholder="Имя"/>
            <div class="popupForm__error" v-if="!$v.name.required">Поле обязательно для заполнения</div>
          </div>
          <div class="popupForm__group" :class="{ 'popupForm__group--error' : $v.phone.$error }">
            <imask-input
              class="input popupForm__field"
              name="PHONE"
              v-model="phone"
              :mask="'+{7} (000) 000-00-00'"
              :unmask="true"
              placeholder="+7(___) ___-__-__"
            />
            <div class="popupForm__error" v-if="!$v.phone.required">Поле обязательно для заполнения</div>
          </div>

          <textarea v-model="comment" class="textarea popupForm__textarea" name="COMMENTS" placeholder="Комментарий"></textarea>
          <button class="button popupForm__submitBtn" type="submit">Перезвоните мне</button>
          <div class="popupForm__agreement">Нажимая на кнопку "Перезвоните мне" – вы соглашаетесь с <a href="/politika">политикой в отношении обработки персональных данных</a></div>
        </form>
      </div>
    </div>
  </popup>
</template>

<script>
  import axios from 'axios';
  import {IMaskComponent} from 'vue-imask';
  import Popup from './Popup';
  import { validationMixin } from 'vuelidate'
  import { required } from 'vuelidate/lib/validators'
  export default {
    data: () => ({
      show: false,
      name: '',
      phone: '',
      comment: '',
      agree: true,
    }),
    components: {
      'imask-input': IMaskComponent,
      'popup': Popup,
    },
    props: ['initial'],
    mixins: [validationMixin],
    validations: {
      name: {
        required,
      },
      phone: {
        required
      }
    },
    mounted() {
      document.addEventListener('openPopupForm', () => {
        this.show = true;
      });
    },
    methods: {
      openInfoPanel(message) {
        document.dispatchEvent(new CustomEvent('openInfoPanel', { 'detail': message }));
      },
      showPopup(isShow) {
        this.show = isShow;
      },
      clearForm() {
        this.name = '';
        this.phone = '';
        this.comment = '';
        this.$v.$reset();
      },
      sendForm() {
        this.$v.$touch();
        if (this.$v.$invalid) return;

        const data = new FormData();
        // Наполнение объекта формы данными для обработчика.
        data.append('FORM_ID', this.initial.FORM_ID);
        data.append('NAME', this.name);
        data.append('PHONE', this.phone);
        data.append('COMMENTS', this.comment);
        data.append('CONFIRMATION', this.agree);

        axios.post('/local/ajax/index.php?component=subscribe', data)
          .then((response) => { // Success.
            this.show = false;
            this.clearForm(); // Очистить поля формы
          })
          .catch((err) => { // Error.
            this.openInfoPanel('Ошибка отправки! Обратитесь к администратору.');
            throw new Error(err);
          });
      }
    }
  }
</script>
