<template>
  <popup :show="show" :showHandler="showPopup">
    <div class="popupMessage">
      <button class="popupMessage__closeBtn" @click="show = false">
        <svg><use xlink:href="#sprite-close_black"></use></svg>
      </button>
      <div class="popupMessage__header">
        <svg class="popupMessage__logo"><use xlink:href="#sprite-logo_black"></use></svg>
      </div>
      <div class="popupMessage__content">
        <div class="popupMessage__letterIcon">
          <svg><use xlink:href="#sprite-email"></use></svg>
        </div>
        <div class="popupMessage__title">У нас только хорошие новости</div>
        <div class="popupMessage__subtitle">Благодарим за подписку на наши специальные предложения!</div>
      </div>
    </div>
  </popup>
</template>

<script>
  import Popup from './Popup';

  export default {
    data: () => ({
      show: false,
    }),
    components: {
      'popup': Popup,
    },
    mounted() {
      document.addEventListener('openPopupMessage', () => {
        this.show = true;
      });
    },
    methods: {
      showPopup(isShow) {
        this.show = isShow;
      }
    }
  }
</script>
