<template>
  <transition :name="isStatic ? 'fade' : 'search-animation'">
    <div class="search" :class="{ 'search_static': isStatic }" v-show="isShow" v-click-outside="onClickOutside">
      <div class="container search__inner">
        <div class="search__content">
          <!-- Город-->
          <div class="search__filter">
            <div class="filter__name filter__name_border">{{ initial.filters.city.title }}</div>
            <transition-group class="filter__list" name="search-filter-animation" tag="ul">
              <li
                v-for="city in filters.cities"
                :key="city.value"
                class="filter__item"
                :class="{ 'filter__item_active': city.active }"
                @click="toggleFilter('cities', city.value)"
              >
                <span class="filter__itemLabel">{{ city.label }}</span>
                <span class="filter__checkIcon"></span>
              </li>
            </transition-group>
          </div>
          <!-- /Город-->

          <!-- Объекты-->
          <div class="search__filter">
            <div class="filter__name filter__name_border">{{ initial.filters.objects.title }}</div>
              <transition-group class="filter__list" name="search-filter-animation" tag="ul">
                <li
                  v-for="object in filters.objects"
                  v-show="!object.hidden"
                  :key="object.value"
                  class="filter__item"
                  :class="{ 'filter__item_active': object.active }"
                  @click="toggleFilter('objects', object.value)"
                >
                  <span class="filter__itemLabel">{{ object.label }}</span>
                  <span class="filter__checkIcon"></span>
                </li>
              </transition-group>
          </div>
          <!-- /Объекты-->

          <!-- Категория-->
          <div class="search__filter">
            <div class="filter__name filter__name_border">{{ initial.filters.type.title }}</div>
            <transition-group class="filter__list" name="search-filter-animation" tag="ul">
              <li
                v-for="type in filters.types"
                :key="type.value"
                class="filter__item filter__item_big"
                :class="{ 'filter__item_active': type.active }"
                @click="toggleFilter('types', type.value)"
              >
                <span class="filter__itemLabel">{{ type.label }}</span>
                <span class="filter__checkIcon"></span>
              </li>
            </transition-group>
          </div>
          <!-- /Категория-->

          <!-- Площадь-->
          <div class="search__filterGroup">
            <div class="search__filter">
              <div class="filter__name">Площадь<span> (м2)</span></div>
              <div class="filter__inner">
                <div class="filter__col">
                  <input
                    class="filter__input"
                    type="number"
                    placeholder="от"
                    v-model.number.lazy="square.min"
                    :min="initial.minsquare"
                    :max="square.max"
                  >
                </div>
                <div class="filter__col">
                  <input
                    class="filter__input"
                    type="number"
                    placeholder="до"
                    v-model.number.lazy="square.max"
                    :min="square.min"
                    :max="initial.maxsquare"
                  >
                </div>
                <span class="filter__mark">м2</span>
              </div>
            </div>
            <!-- /Площадь-->

            <!-- Цена-->
            <div class="search__filter">
              <div class="filter__name">Цена<span> (руб. за м2 в год)</span></div>
              <div class="filter__inner ">
                <div class="filter__col">
                  <input
                    class="filter__input"
                    type="number"
                    placeholder="от"
                    v-model.number.lazy="price.min"
                    :min="initial.minprice"
                    :max="price.max"
                  >
                </div>
                <div class="filter__col">
                  <input
                    class="filter__input"
                    type="number"
                    placeholder="до"
                    v-model.number.lazy="price.max"
                    :min="price.min"
                    :max="initial.maxprice"
                  >
                </div>
                <span class="filter__mark">руб. за м2 в год</span>
              </div>
            </div>
            <!-- /Цена-->
          </div>
        </div>
        <button class="button search__findBtn" @click="search">Найти</button>
        <button class="button search__resetBtn" @click="clearFilter">очистить все фильтры</button>
      </div>
    </div>
  </transition>
</template>

<script>
  import vClickOutside from 'v-click-outside'

  export default {
    props: ['initial'],
    data: () => ({
      isShow: false,
      isStatic: false,
      pageUrl: '',
      filters: [],
      square: {
        min: '',
        max: ''
      },
      price: {
        min: '',
        max: ''
      }
    }),
    directives: {
      clickOutside: vClickOutside.directive
    },
    watch: {
      'filters.cities': {
        handler() {
          // Выбранные города
          let changedCities = this.getActiveCities();

          this.filters.objects.forEach(item => {
            item.hidden = changedCities.length > 0 && !changedCities.includes(item.city);

            if (item.hidden) {
              item.active = false;
            }
          });
        },
        deep: true
      },
      'square.min': function (oldVal, newVal) {
        if (newVal && oldVal < this.initial.minsquare) {
          this.square.min = this.initial.minsquare;
        }
      },
      'square.max': function (oldVal, newVal) {
        if (newVal && oldVal < this.square.min) {
          this.square.max = this.square.min;
        }
      },
      'price.min': function (oldVal, newVal) {
        if (newVal && oldVal < this.initial.minprice) {
          this.price.min = this.initial.minprice;
        }
      },
      'price.max': function (oldVal, newVal) {
        if (newVal && oldVal < this.price.min) {
          this.price.max = this.price.min;
        }
      }
    },
    mounted: function () {
      // Получаем фильтры из JSON
      if (this.initial) {
        // Если секция статическая, как на странице фильтров
        if (this.initial.static) {
          this.isShow = true;
          this.isStatic = true;
        }

        // URL страницы фильтра
        this.pageUrl = this.initial.url || '';

        // Поле площадь - от, до
        this.square.min = this.initial.minsquare || '';
        this.square.max = this.initial.maxsquare || '';

        // Поле цена - от, до
        this.price.min = this.initial.minprice || '';
        this.price.max = this.initial.maxprice || '';

        const { filters } = this.initial;

        // Фильтры
        if (filters) {
          this.filters = {
            cities: this.customizeItems(filters.city.items),
            objects: this.customizeItems(filters.objects.items),
            types: this.customizeItems(filters.type.items),
          };
        }
      }

      // Если перешли по ссылке с выставленными фильтрами
      if (window.location.search) {
        this.setFiltersFromUrl();
      }

      // Открываем меню по кнопке "Найти помещение"
      if (!this.isStatic) {
        const openBtn = document.querySelector('#open-search-btn');
        openBtn.addEventListener('click', (e) => {
          e.preventDefault();

          this.isShow = !this.isShow;
          openBtn.classList.toggle('active');
        });
      }
    },
    methods: {
      onClickOutside(e) {
        const openBtn = document.querySelector('#open-search-btn');

        if (e.target !== openBtn && !openBtn.contains(e.target) && !this.isStatic) {
          this.isShow = false;
        }
      },
      // Возвращает массив с выбранными городами
      getActiveCities() {
        return this.filters.cities
          .filter(item => item.active)
          .map(item => item.value);
      },
      // Добавляет дополнительные поля фильтрам
      customizeItems(items) {
        return items.map(
          item => ({ ...item, active: false, hidden: false })
        );
      },
      // Возвращает массив объектов с параметрами из URL
      getUrlParams() {
        const searchString = window.location.search.substring(1);

        return searchString.split('&').reduce((result, item) => {
          // Приводим массив параметров к виду ключ - значение
          let [itemKey, itemVal] = item.split('=');
          let params = { [itemKey]: itemVal };

          // Получаем массив из множественных значений фильтра
          let key = Object.keys(params)[0];
          params[key] = decodeURI(params[key]).split(',');

          return { ...result, ...params };
        }, {});
      },
      // Выставляет активные фильтры из адресной строки
      setFiltersFromUrl() {
        const params = this.getUrlParams();

        // Ищем нужные вильтры и делаем их активными
        Object.keys(this.filters).forEach((name) => {
          this.filters[name].forEach(item => {
            if (params[name] && params[name].includes(item.value)) {
              item.active = true;
            }
          });
        });

        // Выставляем значения полей "Площадь" и "Цена" из URL
        this.square.min  = params['minsquare'] || '';
        this.square.max = params['maxsquare'] || '';
        this.price.min = params['minprice'] || '';
        this.price.max = params['maxprice'] || '';
      },
      // Поиск по фильтру
      search() {
        let searchUrl = '?filter=Y';

        Object.keys(this.filters).forEach((name) => {
          let activeFilters = this.filters[name].filter(item => item.active);

          if (activeFilters.length > 0) {
            let values = activeFilters.map(item => item.value);
            searchUrl += `&${name}=${values.join(',')}`;
          }
        });

        searchUrl += (this.square.min) ? `&minsquare=${this.square.min}` : '';
        searchUrl += (this.square.max) ? `&maxsquare=${this.square.max}` : '';
        searchUrl += (this.price.min) ? `&minprice=${this.price.min}` : '';
        searchUrl += (this.price.max) ? `&maxprice=${this.price.max}` : '';

        // Перезагружаем страницу
        window.location.href = window.location.origin + this.pageUrl + searchUrl;
      },
      // Переключение фильтра
      toggleFilter(name, val) {
        let currentFilter = this.filters[name].find(item => item.value === val);

        currentFilter.active = !currentFilter.active;
      },
      clearFilter() {
        // Перезагрузка страницы
        window.location.href = origin + this.pageUrl + '?filter=Y';
      }
    },
  };
</script>
