<template>
  <div class="subscribeForm">
    <div class="subscribeForm__bgLogo">
      <svg><use xlink:href="#sprite-logo_part"></use></svg>
    </div>
    <div class="subscribeForm__content">
      <div class="subscribeForm__title">Подпишитесь на наши специальные предложения</div>
      <form action="#" method="POST" class="subscribeForm__form" @submit.prevent="sendForm">
        <input v-model="email" type="email" name="EMAIL" class="input subscribeForm__field" placeholder="E-MAIL" required />
        <button class="button subscribeForm__submitBtn" type="submit">Подписаться</button>
      </form>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    data: () => ({
      show: false,
      email: '',
      agree: true,
    }),
    props: ['initial'],
    mounted() {

    },
    methods: {
      openPopupMessage() {
        document.dispatchEvent(new CustomEvent('openPopupMessage'));
      },
      openInfoPanel(message) {
        document.dispatchEvent(new CustomEvent('openInfoPanel', { 'detail': message }));
      },
      clearForm() {
        this.email = '';
      },
      sendForm() {
        const data = new FormData();

        // Наполнение объекта формы данными для обработчика.
        data.append('FORM_ID', this.initial.FORM_ID);
        data.append('EMAIL', this.email);
        data.append('CONFIRMATION', this.agree);

        axios.post('/local/ajax/index.php?component=subscribe', data)
          .then((response) => { // Success.
            this.show = false;
            this.clearForm(); // Очистить поля формы
            this.openPopupMessage();
          })
          .catch((err) => { // Error.
            this.openInfoPanel('Ошибка отправки! Обратитесь к администратору.');
            throw new Error(err);
          });
      }
    }
  }
</script>
